body{
    margin-left: 10%;   
    font-family:roboto;    
}
#header, .general{
    overflow: hidden;    
}

h1{
    color:#ff4754;    
    font-weight: 300;
}
h2, h3{
    font-weight: 300;
}
.first-inform, .conteiner1{
    float:left;
    width: 50%;    
    
}
.photo, .conteiner2{
    float:right;
    width: 50%;
}
img{
    width: 30%;
}
li{
    list-style-type: none;
    padding:5px;
}

#line{
    width: 80%;
    height: 1px;
    margin-top:20px;
    background-color:#ff4754;
    /*margin-left: 7px; */    
}
p{
    padding-right: 20%;
}